body {
  margin: 0;
  padding: 0;
  background-color: #c4d7b2;
  box-sizing: border-box;
}

header {
  padding: 10px;
}

main {
  display: flex;
  justify-content: center;
  height: 500px;
}

address {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
}

img {
  border-radius: 50%;
  border: solid 1px #f7ffe5;
}

section {
  display: inline-block;
  background-color: #f7ffe5;
  padding: 20px;
  border-radius: 5px;
}
